<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GJ_lite_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-2.0}</string>
			<key>spriteSize</key>
			<string>{177,58}</string>
			<key>spriteSourceSize</key>
			<string>{177,58}</string>
			<key>textureRect</key>
			<string>{{509,1},{177,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_logo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{19.25,-16.0}</string>
			<key>spriteSize</key>
			<string>{846,197}</string>
			<key>spriteSourceSize</key>
			<string>{846,197}</string>
			<key>textureRect</key>
			<string>{{1415,1},{846,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_logo_001_10let.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-0.5}</string>
			<key>spriteSize</key>
			<string>{846,146}</string>
			<key>spriteSourceSize</key>
			<string>{846,146}</string>
			<key>textureRect</key>
			<string>{{568,1},{846,146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_md_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.25,-3.25}</string>
			<key>spriteSize</key>
			<string>{366,69}</string>
			<key>spriteSourceSize</key>
			<string>{366,69}</string>
			<key>textureRect</key>
			<string>{{2262,1},{366,69}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>RobTopLogoBig_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.75,-2.0}</string>
			<key>spriteSize</key>
			<string>{204,60}</string>
			<key>spriteSourceSize</key>
			<string>{204,60}</string>
			<key>textureRect</key>
			<string>{{848,903},{204,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cocos2DxLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{1,1},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fmodLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-150.0,750.0}</string>
			<key>spriteSize</key>
			<string>{505,377}</string>
			<key>spriteSourceSize</key>
			<string>{505,377}</string>
			<key>textureRect</key>
			<string>{{3,1},{505,377}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_subzeroLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,-3.25}</string>
			<key>spriteSize</key>
			<string>{323,77}</string>
			<key>spriteSourceSize</key>
			<string>{323,77}</string>
			<key>textureRect</key>
			<string>{{1,379},{323,77}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>gj_worldLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.75,-3.25}</string>
			<key>spriteSize</key>
			<string>{266,76}</string>
			<key>spriteSourceSize</key>
			<string>{266,76}</string>
			<key>textureRect</key>
			<string>{{79,379},{266,76}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>logodpt_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,0.0}</string>
			<key>spriteSize</key>
			<string>{846,199}</string>
			<key>spriteSourceSize</key>
			<string>{846,199}</string>
			<key>textureRect</key>
			<string>{{156,379},{846,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>logodpt_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,0.0}</string>
			<key>spriteSize</key>
			<string>{846,199}</string>
			<key>spriteSourceSize</key>
			<string>{846,199}</string>
			<key>textureRect</key>
			<string>{{1003,379},{846,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>logodpt_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,0.0}</string>
			<key>spriteSize</key>
			<string>{846,199}</string>
			<key>spriteSourceSize</key>
			<string>{846,199}</string>
			<key>textureRect</key>
			<string>{{1,703},{846,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>logodpt_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,0.0}</string>
			<key>spriteSize</key>
			<string>{846,199}</string>
			<key>spriteSourceSize</key>
			<string>{846,199}</string>
			<key>textureRect</key>
			<string>{{848,703},{846,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>logodpt_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,0.0}</string>
			<key>spriteSize</key>
			<string>{846,199}</string>
			<key>spriteSourceSize</key>
			<string>{846,199}</string>
			<key>textureRect</key>
			<string>{{1,903},{846,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_LaunchSheet-hd.png</string>
		<key>size</key>
		<string>{1,1}</string>
		<key>textureFileName</key>
		<string>GJ_LaunchSheet-hd.png</string>
	</dict>
</dict>
</plist>
