<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>player_ball_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{38,35}</string>
    <key>spriteSourceSize</key>
    <string>{40,40}</string>
    <key>textureRect</key>
    <string>{{42,0},{38,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_ball_04_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{38,35}</string>
    <key>spriteSourceSize</key>
    <string>{40,40}</string>
    <key>textureRect</key>
    <string>{{40,39},{38,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_ball_04_extra_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{38,35}</string>
    <key>spriteSourceSize</key>
    <string>{40,40}</string>
    <key>textureRect</key>
    <string>{{0,39},{38,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_ball_04_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{40,37}</string>
    <key>spriteSourceSize</key>
    <string>{42,42}</string>
    <key>textureRect</key>
    <string>{{0,0},{40,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{82,76}</string>
   <key>textureFileName</key>
   <string>icons/player_ball_04.png</string>
  </dict>
 </dict>
</plist>
