<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>playerExplosion_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-14.375,0.5}</string>
			<key>spriteSize</key>
			<string>{41,39}</string>
			<key>spriteSourceSize</key>
			<string>{41,39}</string>
			<key>textureRect</key>
			<string>{{1,1},{41,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_03_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12.875,4.375}</string>
			<key>spriteSize</key>
			<string>{66,70}</string>
			<key>spriteSourceSize</key>
			<string>{66,70}</string>
			<key>textureRect</key>
			<string>{{43,1},{66,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_03_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11.125,9.125}</string>
			<key>spriteSize</key>
			<string>{82,73}</string>
			<key>spriteSourceSize</key>
			<string>{82,73}</string>
			<key>textureRect</key>
			<string>{{114,1},{82,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_03_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5.125,12.5}</string>
			<key>spriteSize</key>
			<string>{108,98}</string>
			<key>spriteSourceSize</key>
			<string>{108,98}</string>
			<key>textureRect</key>
			<string>{{197,1},{108,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_03_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10.25,15.625}</string>
			<key>spriteSize</key>
			<string>{131,124}</string>
			<key>spriteSourceSize</key>
			<string>{131,124}</string>
			<key>textureRect</key>
			<string>{{306,1},{131,124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_03_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6.25,16.375}</string>
			<key>spriteSize</key>
			<string>{149,134}</string>
			<key>spriteSourceSize</key>
			<string>{149,134}</string>
			<key>textureRect</key>
			<string>{{438,1},{149,134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_03_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6.375,16.875}</string>
			<key>spriteSize</key>
			<string>{146,130}</string>
			<key>spriteSourceSize</key>
			<string>{146,130}</string>
			<key>textureRect</key>
			<string>{{588,1},{146,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_03_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6.5,17.375}</string>
			<key>spriteSize</key>
			<string>{138,125}</string>
			<key>spriteSourceSize</key>
			<string>{138,125}</string>
			<key>textureRect</key>
			<string>{{735,1},{138,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_03_009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5.625,14.375}</string>
			<key>spriteSize</key>
			<string>{124,115}</string>
			<key>spriteSourceSize</key>
			<string>{124,115}</string>
			<key>textureRect</key>
			<string>{{874,1},{124,115}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_03_010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7.125,14.5}</string>
			<key>spriteSize</key>
			<string>{121,114}</string>
			<key>spriteSourceSize</key>
			<string>{121,114}</string>
			<key>textureRect</key>
			<string>{{990,1},{121,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_03_011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7.375,26.25}</string>
			<key>spriteSize</key>
			<string>{118,87}</string>
			<key>spriteSourceSize</key>
			<string>{118,87}</string>
			<key>textureRect</key>
			<string>{{1105,1},{118,87}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>PlayerExplosion_03.png</string>
		<key>size</key>
		<string>{1,1}</string>
		<key>textureFileName</key>
		<string>PlayerExplosion_03.png</string>
	</dict>
</dict>
</plist>
