<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>player_ball_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{73,68}</string>
    <key>spriteSourceSize</key>
    <string>{79,79}</string>
    <key>textureRect</key>
    <string>{{79,0},{73,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_ball_04_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{73,68}</string>
    <key>spriteSourceSize</key>
    <string>{79,79}</string>
    <key>textureRect</key>
    <string>{{75,73},{73,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_ball_04_extra_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{73,68}</string>
    <key>spriteSourceSize</key>
    <string>{79,79}</string>
    <key>textureRect</key>
    <string>{{0,73},{73,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_ball_04_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-1}</string>
    <key>spriteSize</key>
    <string>{77,71}</string>
    <key>spriteSourceSize</key>
    <string>{83,83}</string>
    <key>textureRect</key>
    <string>{{0,0},{77,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{154,143}</string>
   <key>textureFileName</key>
   <string>icons/player_ball_04-hd.png</string>
  </dict>
 </dict>
</plist>
