<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>player_ball_67_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{35,34}</string>
    <key>spriteSourceSize</key>
    <string>{35,37}</string>
    <key>textureRect</key>
    <string>{{39,0},{35,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_ball_67_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{31,30}</string>
    <key>spriteSourceSize</key>
    <string>{31,33}</string>
    <key>textureRect</key>
    <string>{{0,38},{31,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_ball_67_extra_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{31,30}</string>
    <key>spriteSourceSize</key>
    <string>{31,33}</string>
    <key>textureRect</key>
    <string>{{33,38},{31,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_ball_67_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{37,36}</string>
    <key>spriteSourceSize</key>
    <string>{37,39}</string>
    <key>textureRect</key>
    <string>{{0,0},{37,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{76,70}</string>
   <key>textureFileName</key>
   <string>icons/player_ball_67.png</string>
  </dict>
 </dict>
</plist>
