<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>player_ball_44_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,63}</string>
    <key>spriteSourceSize</key>
    <string>{60,72}</string>
    <key>textureRect</key>
    <string>{{70,0},{60,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_ball_44_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-65,-3}</string>
    <key>spriteSize</key>
    <string>{8,33}</string>
    <key>spriteSourceSize</key>
    <string>{204,73}</string>
    <key>textureRect</key>
    <string>{{70,65},{8,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_ball_44_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,68}</string>
    <key>spriteSourceSize</key>
    <string>{68,72}</string>
    <key>textureRect</key>
    <string>{{0,0},{68,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{132,100}</string>
   <key>textureFileName</key>
   <string>icons/player_ball_44-hd.png</string>
  </dict>
 </dict>
</plist>
