<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>playerExplosion_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-28.75,1.0}</string>
			<key>spriteSize</key>
			<string>{82,79}</string>
			<key>spriteSourceSize</key>
			<string>{82,79}</string>
			<key>textureRect</key>
			<string>{{1,1},{82,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_03_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-25.75,8.75}</string>
			<key>spriteSize</key>
			<string>{133,140}</string>
			<key>spriteSourceSize</key>
			<string>{133,140}</string>
			<key>textureRect</key>
			<string>{{84,1},{133,140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_03_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-22.25,18.25}</string>
			<key>spriteSize</key>
			<string>{164,147}</string>
			<key>spriteSourceSize</key>
			<string>{164,147}</string>
			<key>textureRect</key>
			<string>{{225,1},{164,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_03_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10.25,25.0}</string>
			<key>spriteSize</key>
			<string>{216,197}</string>
			<key>spriteSourceSize</key>
			<string>{216,197}</string>
			<key>textureRect</key>
			<string>{{390,1},{216,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_03_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-20.5,31.25}</string>
			<key>spriteSize</key>
			<string>{262,248}</string>
			<key>spriteSourceSize</key>
			<string>{262,248}</string>
			<key>textureRect</key>
			<string>{{607,1},{262,248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_03_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12.5,32.75}</string>
			<key>spriteSize</key>
			<string>{299,268}</string>
			<key>spriteSourceSize</key>
			<string>{299,268}</string>
			<key>textureRect</key>
			<string>{{870,1},{299,268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_03_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12.75,33.75}</string>
			<key>spriteSize</key>
			<string>{292,260}</string>
			<key>spriteSourceSize</key>
			<string>{292,260}</string>
			<key>textureRect</key>
			<string>{{1170,1},{292,260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_03_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13.0,34.75}</string>
			<key>spriteSize</key>
			<string>{277,250}</string>
			<key>spriteSourceSize</key>
			<string>{277,250}</string>
			<key>textureRect</key>
			<string>{{1463,1},{277,250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_03_009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11.25,28.75}</string>
			<key>spriteSize</key>
			<string>{249,231}</string>
			<key>spriteSourceSize</key>
			<string>{249,231}</string>
			<key>textureRect</key>
			<string>{{1741,1},{249,231}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_03_010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-14.25,29.0}</string>
			<key>spriteSize</key>
			<string>{243,228}</string>
			<key>spriteSourceSize</key>
			<string>{243,228}</string>
			<key>textureRect</key>
			<string>{{1973,1},{243,228}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_03_011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-14.75,52.5}</string>
			<key>spriteSize</key>
			<string>{236,175}</string>
			<key>spriteSourceSize</key>
			<string>{236,175}</string>
			<key>textureRect</key>
			<string>{{2202,1},{236,175}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>PlayerExplosion_03-hd.png</string>
		<key>size</key>
		<string>{1,1}</string>
		<key>textureFileName</key>
		<string>PlayerExplosion_03-hd.png</string>
	</dict>
</dict>
</plist>
