<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>player_20_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,60}</string>
    <key>spriteSourceSize</key>
    <string>{66,60}</string>
    <key>textureRect</key>
    <string>{{0,66},{66,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_20_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,60}</string>
    <key>spriteSourceSize</key>
    <string>{66,60}</string>
    <key>textureRect</key>
    <string>{{72,0},{66,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_20_extra_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,60}</string>
    <key>spriteSourceSize</key>
    <string>{66,60}</string>
    <key>textureRect</key>
    <string>{{68,66},{66,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_20_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{70,64}</string>
    <key>spriteSourceSize</key>
    <string>{70,64}</string>
    <key>textureRect</key>
    <string>{{0,0},{70,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{140,128}</string>
   <key>textureFileName</key>
   <string>icons/player_20-hd.png</string>
  </dict>
 </dict>
</plist>
