<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GJ_lite_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,-1.0}</string>
			<key>spriteSize</key>
			<string>{88,29}</string>
			<key>spriteSourceSize</key>
			<string>{88,29}</string>
			<key>textureRect</key>
			<string>{{1,1},{88,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_logo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9.625,-8.0}</string>
			<key>spriteSize</key>
			<string>{423,98}</string>
			<key>spriteSourceSize</key>
			<string>{423,98}</string>
			<key>textureRect</key>
			<string>{{90,1},{423,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_logo_001_10let.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.0,-0.25}</string>
			<key>spriteSize</key>
			<string>{423,73}</string>
			<key>spriteSourceSize</key>
			<string>{423,73}</string>
			<key>textureRect</key>
			<string>{{514,1},{423,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_md_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.625,-1.625}</string>
			<key>spriteSize</key>
			<string>{183,34}</string>
			<key>spriteSourceSize</key>
			<string>{183,34}</string>
			<key>textureRect</key>
			<string>{{938,1},{183,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>RobTopLogoBig_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.875,-1.0}</string>
			<key>spriteSize</key>
			<string>{102,30}</string>
			<key>spriteSourceSize</key>
			<string>{102,30}</string>
			<key>textureRect</key>
			<string>{{1122,1},{102,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cocos2DxLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{1225,1},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fmodLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-75.0,375.0}</string>
			<key>spriteSize</key>
			<string>{252,188}</string>
			<key>spriteSourceSize</key>
			<string>{252,188}</string>
			<key>textureRect</key>
			<string>{{1227,1},{252,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_subzeroLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,-1.625}</string>
			<key>spriteSize</key>
			<string>{161,38}</string>
			<key>spriteSourceSize</key>
			<string>{161,38}</string>
			<key>textureRect</key>
			<string>{{1480,1},{161,38}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>gj_worldLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.875,-1.625}</string>
			<key>spriteSize</key>
			<string>{133,38}</string>
			<key>spriteSourceSize</key>
			<string>{133,38}</string>
			<key>textureRect</key>
			<string>{{1519,1},{133,38}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>logodpt_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.0,0.0}</string>
			<key>spriteSize</key>
			<string>{423,99}</string>
			<key>spriteSourceSize</key>
			<string>{423,99}</string>
			<key>textureRect</key>
			<string>{{1558,1},{423,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>logodpt_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.0,0.0}</string>
			<key>spriteSize</key>
			<string>{423,99}</string>
			<key>spriteSourceSize</key>
			<string>{423,99}</string>
			<key>textureRect</key>
			<string>{{1,190},{423,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>logodpt_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.0,0.0}</string>
			<key>spriteSize</key>
			<string>{423,99}</string>
			<key>spriteSourceSize</key>
			<string>{423,99}</string>
			<key>textureRect</key>
			<string>{{425,190},{423,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>logodpt_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.0,0.0}</string>
			<key>spriteSize</key>
			<string>{423,99}</string>
			<key>spriteSourceSize</key>
			<string>{423,99}</string>
			<key>textureRect</key>
			<string>{{849,190},{423,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>logodpt_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.0,0.0}</string>
			<key>spriteSize</key>
			<string>{423,99}</string>
			<key>spriteSourceSize</key>
			<string>{423,99}</string>
			<key>textureRect</key>
			<string>{{1273,190},{423,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_LaunchSheet.png</string>
		<key>size</key>
		<string>{1,1}</string>
		<key>textureFileName</key>
		<string>GJ_LaunchSheet.png</string>
	</dict>
</dict>
</plist>
