<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>player_34_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{60,63}</string>
    <key>spriteSourceSize</key>
    <string>{60,66}</string>
    <key>textureRect</key>
    <string>{{66,0},{60,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_34_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{55,58}</string>
    <key>spriteSourceSize</key>
    <string>{55,60}</string>
    <key>textureRect</key>
    <string>{{66,65},{55,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_34_extra_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,11}</string>
    <key>spriteSize</key>
    <string>{55,37}</string>
    <key>spriteSourceSize</key>
    <string>{55,60}</string>
    <key>textureRect</key>
    <string>{{0,69},{55,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_34_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{64,67}</string>
    <key>spriteSourceSize</key>
    <string>{64,70}</string>
    <key>textureRect</key>
    <string>{{0,0},{64,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{128,125}</string>
   <key>textureFileName</key>
   <string>icons/player_34-hd.png</string>
  </dict>
 </dict>
</plist>
