<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>robot_08_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,12}</string>
    <key>spriteSize</key>
    <string>{147,133}</string>
    <key>spriteSourceSize</key>
    <string>{149,157}</string>
    <key>textureRect</key>
    <string>{{0,144},{147,133}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_01_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{35,-18}</string>
    <key>spriteSize</key>
    <string>{69,60}</string>
    <key>spriteSourceSize</key>
    <string>{149,157}</string>
    <key>textureRect</key>
    <string>{{158,118},{69,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_01_extra_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{34,-8}</string>
    <key>spriteSize</key>
    <string>{29,29}</string>
    <key>spriteSourceSize</key>
    <string>{149,157}</string>
    <key>textureRect</key>
    <string>{{217,180},{29,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_01_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,12}</string>
    <key>spriteSize</key>
    <string>{156,142}</string>
    <key>spriteSourceSize</key>
    <string>{158,166}</string>
    <key>textureRect</key>
    <string>{{0,0},{156,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{57,61}</string>
    <key>spriteSourceSize</key>
    <string>{57,61}</string>
    <key>textureRect</key>
    <string>{{158,180},{57,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_02_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,7}</string>
    <key>spriteSize</key>
    <string>{16,15}</string>
    <key>spriteSourceSize</key>
    <string>{16,30}</string>
    <key>textureRect</key>
    <string>{{217,211},{16,15}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_02_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,70}</string>
    <key>spriteSourceSize</key>
    <string>{65,70}</string>
    <key>textureRect</key>
    <string>{{158,0},{65,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{18,50}</string>
    <key>spriteSourceSize</key>
    <string>{18,50}</string>
    <key>textureRect</key>
    <string>{{229,118},{18,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_03_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{6,4}</string>
    <key>spriteSourceSize</key>
    <string>{6,4}</string>
    <key>textureRect</key>
    <string>{{149,151},{6,4}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_03_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,58}</string>
    <key>spriteSourceSize</key>
    <string>{26,58}</string>
    <key>textureRect</key>
    <string>{{225,0},{26,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{94,35}</string>
    <key>spriteSourceSize</key>
    <string>{94,39}</string>
    <key>textureRect</key>
    <string>{{158,243},{94,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_04_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,0}</string>
    <key>spriteSize</key>
    <string>{6,5}</string>
    <key>spriteSourceSize</key>
    <string>{20,16}</string>
    <key>textureRect</key>
    <string>{{149,144},{6,5}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_04_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{102,44}</string>
    <key>spriteSourceSize</key>
    <string>{102,48}</string>
    <key>textureRect</key>
    <string>{{158,72},{102,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{262,280}</string>
   <key>textureFileName</key>
   <string>icons/robot_08-uhd.png</string>
  </dict>
 </dict>
</plist>
