<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>player_20_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,30}</string>
    <key>spriteSourceSize</key>
    <string>{33,30}</string>
    <key>textureRect</key>
    <string>{{0,34},{33,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_20_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,30}</string>
    <key>spriteSourceSize</key>
    <string>{33,30}</string>
    <key>textureRect</key>
    <string>{{37,0},{33,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_20_extra_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,30}</string>
    <key>spriteSourceSize</key>
    <string>{33,30}</string>
    <key>textureRect</key>
    <string>{{35,34},{33,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_20_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,32}</string>
    <key>spriteSourceSize</key>
    <string>{35,32}</string>
    <key>textureRect</key>
    <string>{{0,0},{35,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{72,66}</string>
   <key>textureFileName</key>
   <string>icons/player_20.png</string>
  </dict>
 </dict>
</plist>
