<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>robot_08_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,3}</string>
    <key>spriteSize</key>
    <string>{37,34}</string>
    <key>spriteSourceSize</key>
    <string>{37,40}</string>
    <key>textureRect</key>
    <string>{{0,38},{37,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_01_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,-5}</string>
    <key>spriteSize</key>
    <string>{19,16}</string>
    <key>spriteSourceSize</key>
    <string>{37,40}</string>
    <key>textureRect</key>
    <string>{{41,0},{19,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_01_extra_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,-2}</string>
    <key>spriteSize</key>
    <string>{9,8}</string>
    <key>spriteSourceSize</key>
    <string>{37,40}</string>
    <key>textureRect</key>
    <string>{{39,62},{9,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_01_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,3}</string>
    <key>spriteSize</key>
    <string>{39,36}</string>
    <key>spriteSourceSize</key>
    <string>{39,42}</string>
    <key>textureRect</key>
    <string>{{0,0},{39,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,16}</string>
    <key>spriteSourceSize</key>
    <string>{14,16}</string>
    <key>textureRect</key>
    <string>{{59,18},{14,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_02_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{4,4}</string>
    <key>spriteSourceSize</key>
    <string>{4,8}</string>
    <key>textureRect</key>
    <string>{{50,62},{4,4}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_02_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,18}</string>
    <key>spriteSourceSize</key>
    <string>{16,18}</string>
    <key>textureRect</key>
    <string>{{41,18},{16,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{4,13}</string>
    <key>spriteSourceSize</key>
    <string>{4,13}</string>
    <key>textureRect</key>
    <string>{{66,38},{4,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_03_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1,1}</string>
    <key>spriteSourceSize</key>
    <string>{1,1}</string>
    <key>textureRect</key>
    <string>{{70,4},{1,1}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_03_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{6,15}</string>
    <key>spriteSourceSize</key>
    <string>{6,15}</string>
    <key>textureRect</key>
    <string>{{62,0},{6,15}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,9}</string>
    <key>spriteSourceSize</key>
    <string>{24,10}</string>
    <key>textureRect</key>
    <string>{{39,51},{24,9}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_04_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{3,2}</string>
    <key>spriteSourceSize</key>
    <string>{5,4}</string>
    <key>textureRect</key>
    <string>{{70,0},{3,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_08_04_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{25,11}</string>
    <key>spriteSourceSize</key>
    <string>{25,12}</string>
    <key>textureRect</key>
    <string>{{39,38},{25,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{75,74}</string>
   <key>textureFileName</key>
   <string>icons/robot_08.png</string>
  </dict>
 </dict>
</plist>
