<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocos2DxLogo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fmodLogo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-300,1500}</string>
				<key>spriteSize</key>
				<string>{1010,754}</string>
				<key>spriteSourceSize</key>
				<string>{1610,3754}</string>
				<key>textureRect</key>
				<string>{{2093,0},{1010,754}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_lite_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-4}</string>
				<key>spriteSize</key>
				<string>{354,116}</string>
				<key>spriteSourceSize</key>
				<string>{360,124}</string>
				<key>textureRect</key>
				<string>{{1847,2103},{354,116}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_logo_001_10let.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-1}</string>
				<key>spriteSize</key>
				<string>{1692,293}</string>
				<key>spriteSourceSize</key>
				<string>{1700,295}</string>
				<key>textureRect</key>
				<string>{{0,395},{1692,293}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_logo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{38.5,-32}</string>
				<key>spriteSize</key>
				<string>{1693,394}</string>
				<key>spriteSourceSize</key>
				<string>{2000,550}</string>
				<key>textureRect</key>
				<string>{{0,0},{1693,394}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_md_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6.5,-6.5}</string>
				<key>spriteSize</key>
				<string>{733,138}</string>
				<key>spriteSourceSize</key>
				<string>{748,153}</string>
				<key>textureRect</key>
				<string>{{2093,1011},{733,138}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_subzeroLogo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,-6.5}</string>
				<key>spriteSize</key>
				<string>{646,154}</string>
				<key>spriteSourceSize</key>
				<string>{662,169}</string>
				<key>textureRect</key>
				<string>{{2093,1150},{646,154}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_worldLogo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7.5,-6.5}</string>
				<key>spriteSize</key>
				<string>{532,153}</string>
				<key>spriteSourceSize</key>
				<string>{547,168}</string>
				<key>textureRect</key>
				<string>{{1693,1693},{532,153}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>logodpt_01.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,0}</string>
				<key>spriteSize</key>
				<string>{1692,398}</string>
				<key>spriteSourceSize</key>
				<string>{1900,500}</string>
				<key>textureRect</key>
				<string>{{0,689},{1692,398}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>logodpt_02.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,0}</string>
				<key>spriteSize</key>
				<string>{1692,398}</string>
				<key>spriteSourceSize</key>
				<string>{1900,500}</string>
				<key>textureRect</key>
				<string>{{0,1088},{1692,398}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>logodpt_03.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,0}</string>
				<key>spriteSize</key>
				<string>{1692,398}</string>
				<key>spriteSourceSize</key>
				<string>{1900,500}</string>
				<key>textureRect</key>
				<string>{{0,1487},{1692,398}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>logodpt_04.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,0}</string>
				<key>spriteSize</key>
				<string>{1692,398}</string>
				<key>spriteSourceSize</key>
				<string>{1900,500}</string>
				<key>textureRect</key>
				<string>{{1694,0},{1692,398}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>logodpt_05.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,0}</string>
				<key>spriteSize</key>
				<string>{1692,398}</string>
				<key>spriteSourceSize</key>
				<string>{1900,500}</string>
				<key>textureRect</key>
				<string>{{0,1886},{1692,398}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>RobTopLogoBig_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7.5,-4}</string>
				<key>spriteSize</key>
				<string>{409,120}</string>
				<key>spriteSourceSize</key>
				<string>{426,128}</string>
				<key>textureRect</key>
				<string>{{1847,1693},{409,120}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_LaunchSheet-uhd.png</string>
			<key>size</key>
			<string>{2847,2284}</string>
			<key>textureFileName</key>
			<string>GJ_LaunchSheet-uhd.png</string>
		</dict>
	</dict>
</plist>