<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>GJ_lite_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{178,58}</string>
    <key>spriteSourceSize</key>
    <string>{180,62}</string>
    <key>textureRect</key>
    <string>{{824,451},{178,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_logo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{847,147}</string>
    <key>spriteSourceSize</key>
    <string>{851,164}</string>
    <key>textureRect</key>
    <string>{{0,569},{847,147}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_logo_001_v1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{847,147}</string>
    <key>spriteSourceSize</key>
    <string>{851,164}</string>
    <key>textureRect</key>
    <string>{{0,718},{847,147}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_md_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-3}</string>
    <key>spriteSize</key>
    <string>{368,70}</string>
    <key>spriteSourceSize</key>
    <string>{374,77}</string>
    <key>textureRect</key>
    <string>{{497,379},{368,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RobTopLogoBig_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-2}</string>
    <key>spriteSize</key>
    <string>{206,61}</string>
    <key>spriteSourceSize</key>
    <string>{296,111}</string>
    <key>textureRect</key>
    <string>{{269,867},{206,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cocos2DxLogo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1550,217}</string>
    <key>spriteSize</key>
    <string>{495,567}</string>
    <key>spriteSourceSize</key>
    <string>{0,0}</string>
    <key>textureRect</key>
    <string>{{0,0},{495,567}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>fmodLogo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-150,750}</string>
    <key>spriteSize</key>
    <string>{505,377}</string>
    <key>spriteSourceSize</key>
    <string>{0,0}</string>
    <key>textureRect</key>
    <string>{{497,0},{505,377}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_subzeroLogo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-3}</string>
    <key>spriteSize</key>
    <string>{325,78}</string>
    <key>spriteSourceSize</key>
    <string>{331,85}</string>
    <key>textureRect</key>
    <string>{{497,451},{325,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_worldLogo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-3}</string>
    <key>spriteSize</key>
    <string>{267,77}</string>
    <key>spriteSourceSize</key>
    <string>{273,84}</string>
    <key>textureRect</key>
    <string>{{0,867},{267,77}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1004,946}</string>
   <key>textureFileName</key>
   <string>GJ_LaunchSheet-hd.png</string>
  </dict>
 </dict>
</plist>
