<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_ball_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,-2}</string>
				<key>spriteSize</key>
				<string>{145,137}</string>
				<key>spriteSourceSize</key>
				<string>{157,157}</string>
				<key>textureRect</key>
				<string>{{0,142},{145,137}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,-2}</string>
				<key>spriteSize</key>
				<string>{145,137}</string>
				<key>spriteSourceSize</key>
				<string>{157,157}</string>
				<key>textureRect</key>
				<string>{{152,0},{145,137}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_ball_04_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,-2}</string>
				<key>spriteSize</key>
				<string>{145,137}</string>
				<key>spriteSourceSize</key>
				<string>{157,157}</string>
				<key>textureRect</key>
				<string>{{0,280},{145,137}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,-2}</string>
				<key>spriteSize</key>
				<string>{151,141}</string>
				<key>spriteSourceSize</key>
				<string>{165,165}</string>
				<key>textureRect</key>
				<string>{{0,0},{151,141}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA4444</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>player_ball_04-uhd.png</string>
			<key>size</key>
			<string>{289,417}</string>
			<key>textureFileName</key>
			<string>icons/player_ball_04-uhd.png</string>
		</dict>
	</dict>
</plist>