<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>playerExplosion_06_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-10}</string>
    <key>spriteSize</key>
    <string>{90,75}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{950,735},{90,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_002.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,-8}</string>
    <key>spriteSize</key>
    <string>{212,183}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{1422,0},{212,183}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_003.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,-13}</string>
    <key>spriteSize</key>
    <string>{412,359}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{954,815},{412,359}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_004.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,-16}</string>
    <key>spriteSize</key>
    <string>{470,409}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{0,0},{470,409}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_005.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-15}</string>
    <key>spriteSize</key>
    <string>{470,402}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{0,411},{470,402}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_006.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,-14}</string>
    <key>spriteSize</key>
    <string>{472,394}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{472,0},{472,394}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_007.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,-12}</string>
    <key>spriteSize</key>
    <string>{476,385}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{472,396},{476,385}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_008.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,-12}</string>
    <key>spriteSize</key>
    <string>{476,379}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{0,815},{476,379}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_009.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-5}</string>
    <key>spriteSize</key>
    <string>{474,365}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{478,815},{474,365}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_010.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-3}</string>
    <key>spriteSize</key>
    <string>{474,350}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{946,0},{474,350}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_011.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-1}</string>
    <key>spriteSize</key>
    <string>{466,337}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{950,396},{466,337}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_012.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,1}</string>
    <key>spriteSize</key>
    <string>{456,327}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{0,1196},{456,327}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_013.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,0}</string>
    <key>spriteSize</key>
    <string>{440,315}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{478,1182},{440,315}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_014.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,0}</string>
    <key>spriteSize</key>
    <string>{428,309}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{920,1182},{428,309}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_015.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,-5}</string>
    <key>spriteSize</key>
    <string>{416,294}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{1350,1182},{416,294}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_016.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,38}</string>
    <key>spriteSize</key>
    <string>{408,204}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{1350,1478},{408,204}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_017.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,71}</string>
    <key>spriteSize</key>
    <string>{362,135}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{0,1525},{362,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_018.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-161,43}</string>
    <key>spriteSize</key>
    <string>{56,56}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{1042,735},{56,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_019.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-183,48}</string>
    <key>spriteSize</key>
    <string>{10,41}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{946,352},{10,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_06_020.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-187,30}</string>
    <key>spriteSize</key>
    <string>{2,2}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{472,783},{2,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1768,1684}</string>
   <key>textureFileName</key>
   <string>PlayerExplosion_06-uhd.png</string>
  </dict>
 </dict>
</plist>
