<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>playerExplosion_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-57.5,2}</string>
				<key>spriteSize</key>
				<string>{164,158}</string>
				<key>spriteSourceSize</key>
				<string>{1135,972}</string>
				<key>textureRect</key>
				<string>{{1084,769},{164,158}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_03_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-51.5,17.5}</string>
				<key>spriteSize</key>
				<string>{266,281}</string>
				<key>spriteSourceSize</key>
				<string>{1135,972}</string>
				<key>textureRect</key>
				<string>{{1453,0},{266,281}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_03_003.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-44.5,36.5}</string>
				<key>spriteSize</key>
				<string>{328,295}</string>
				<key>spriteSourceSize</key>
				<string>{1135,972}</string>
				<key>textureRect</key>
				<string>{{1102,473},{328,295}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_03_004.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-20.5,50}</string>
				<key>spriteSize</key>
				<string>{432,394}</string>
				<key>spriteSourceSize</key>
				<string>{1135,972}</string>
				<key>textureRect</key>
				<string>{{983,1020},{432,394}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_03_005.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-41,62.5}</string>
				<key>spriteSize</key>
				<string>{525,497}</string>
				<key>spriteSourceSize</key>
				<string>{1135,972}</string>
				<key>textureRect</key>
				<string>{{0,1060},{525,497}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_03_006.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-25,65.5}</string>
				<key>spriteSize</key>
				<string>{599,537}</string>
				<key>spriteSourceSize</key>
				<string>{1135,972}</string>
				<key>textureRect</key>
				<string>{{0,0},{599,537}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_03_007.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-25.5,67.5}</string>
				<key>spriteSize</key>
				<string>{584,521}</string>
				<key>spriteSourceSize</key>
				<string>{1135,972}</string>
				<key>textureRect</key>
				<string>{{0,538},{584,521}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_03_008.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-26,69.5}</string>
				<key>spriteSize</key>
				<string>{555,501}</string>
				<key>spriteSourceSize</key>
				<string>{1135,972}</string>
				<key>textureRect</key>
				<string>{{600,0},{555,501}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_03_009.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-22.5,57.5}</string>
				<key>spriteSize</key>
				<string>{498,463}</string>
				<key>spriteSourceSize</key>
				<string>{1135,972}</string>
				<key>textureRect</key>
				<string>{{585,556},{498,463}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_03_010.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-28.5,58}</string>
				<key>spriteSize</key>
				<string>{486,456}</string>
				<key>spriteSourceSize</key>
				<string>{1135,972}</string>
				<key>textureRect</key>
				<string>{{526,1060},{486,456}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_03_011.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-29.5,105}</string>
				<key>spriteSize</key>
				<string>{472,350}</string>
				<key>spriteSourceSize</key>
				<string>{1135,972}</string>
				<key>textureRect</key>
				<string>{{1102,0},{472,350}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>PlayerExplosion_03-uhd.png</string>
			<key>size</key>
			<string>{1719,1557}</string>
			<key>textureFileName</key>
			<string>PlayerExplosion_03-uhd.png</string>
		</dict>
	</dict>
</plist>