<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>playerExplosion_15_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,12}</string>
    <key>spriteSize</key>
    <string>{75,69}</string>
    <key>spriteSourceSize</key>
    <string>{223,250}</string>
    <key>textureRect</key>
    <string>{{426,451},{75,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_15_002.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,12}</string>
    <key>spriteSize</key>
    <string>{75,69}</string>
    <key>spriteSourceSize</key>
    <string>{223,250}</string>
    <key>textureRect</key>
    <string>{{426,451},{75,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_15_003.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,6}</string>
    <key>spriteSize</key>
    <string>{175,190}</string>
    <key>spriteSourceSize</key>
    <string>{223,250}</string>
    <key>textureRect</key>
    <string>{{422,0},{175,190}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_15_004.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,6}</string>
    <key>spriteSize</key>
    <string>{189,204}</string>
    <key>spriteSourceSize</key>
    <string>{223,250}</string>
    <key>textureRect</key>
    <string>{{420,233},{189,204}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_15_005.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,4}</string>
    <key>spriteSize</key>
    <string>{197,213}</string>
    <key>spriteSourceSize</key>
    <string>{223,250}</string>
    <key>textureRect</key>
    <string>{{0,492},{197,213}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_15_006.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,4}</string>
    <key>spriteSize</key>
    <string>{197,213}</string>
    <key>spriteSourceSize</key>
    <string>{223,250}</string>
    <key>textureRect</key>
    <string>{{0,492},{197,213}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_15_007.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,3}</string>
    <key>spriteSize</key>
    <string>{207,216}</string>
    <key>spriteSourceSize</key>
    <string>{223,250}</string>
    <key>textureRect</key>
    <string>{{211,233},{207,216}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_15_008.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-3}</string>
    <key>spriteSize</key>
    <string>{209,231}</string>
    <key>spriteSourceSize</key>
    <string>{223,250}</string>
    <key>textureRect</key>
    <string>{{211,0},{209,231}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_15_009.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-4}</string>
    <key>spriteSize</key>
    <string>{195,238}</string>
    <key>spriteSourceSize</key>
    <string>{223,250}</string>
    <key>textureRect</key>
    <string>{{0,252},{195,238}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_15_010.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-4}</string>
    <key>spriteSize</key>
    <string>{195,238}</string>
    <key>spriteSourceSize</key>
    <string>{223,250}</string>
    <key>textureRect</key>
    <string>{{0,252},{195,238}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_15_011.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{209,250}</string>
    <key>spriteSourceSize</key>
    <string>{223,250}</string>
    <key>textureRect</key>
    <string>{{0,0},{209,250}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_15_012.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{209,250}</string>
    <key>spriteSourceSize</key>
    <string>{223,250}</string>
    <key>textureRect</key>
    <string>{{0,0},{209,250}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_15_013.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,5}</string>
    <key>spriteSize</key>
    <string>{213,184}</string>
    <key>spriteSourceSize</key>
    <string>{223,250}</string>
    <key>textureRect</key>
    <string>{{211,451},{213,184}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_15_014.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,5}</string>
    <key>spriteSize</key>
    <string>{213,184}</string>
    <key>spriteSourceSize</key>
    <string>{223,250}</string>
    <key>textureRect</key>
    <string>{{211,451},{213,184}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_15_015.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,5}</string>
    <key>spriteSize</key>
    <string>{213,184}</string>
    <key>spriteSourceSize</key>
    <string>{223,250}</string>
    <key>textureRect</key>
    <string>{{211,451},{213,184}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_15_016.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-4}</string>
    <key>spriteSize</key>
    <string>{213,86}</string>
    <key>spriteSourceSize</key>
    <string>{223,250}</string>
    <key>textureRect</key>
    <string>{{211,637},{213,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerExplosion_15_017.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-4}</string>
    <key>spriteSize</key>
    <string>{213,86}</string>
    <key>spriteSourceSize</key>
    <string>{223,250}</string>
    <key>textureRect</key>
    <string>{{211,637},{213,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{611,725}</string>
   <key>textureFileName</key>
   <string>PlayerExplosion_15-hd.png</string>
  </dict>
 </dict>
</plist>
