<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./player_ball_44_001</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{121,126}</string>
    <key>spriteSourceSize</key>
    <string>{121,144}</string>
    <key>textureRect</key>
    <string>{{141,0},{121,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./player_ball_44_2_001</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-129,-7}</string>
    <key>spriteSize</key>
    <string>{11,65}</string>
    <key>spriteSourceSize</key>
    <string>{409,146}</string>
    <key>textureRect</key>
    <string>{{141,130},{11,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./player_ball_44_glow_001</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{137,136}</string>
    <key>spriteSourceSize</key>
    <string>{137,144}</string>
    <key>textureRect</key>
    <string>{{0,0},{137,136}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{266,199}</string>
   <key>textureFileName</key>
   <string>icons/player_ball_44-uhd.png</string>
  </dict>
 </dict>
</plist>
