<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>dart_58_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{43,40}</string>
    <key>spriteSourceSize</key>
    <string>{47,44}</string>
    <key>textureRect</key>
    <string>{{0,46},{43,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dart_58_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-6}</string>
    <key>spriteSize</key>
    <string>{33,19}</string>
    <key>spriteSourceSize</key>
    <string>{47,44}</string>
    <key>textureRect</key>
    <string>{{49,0},{33,19}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dart_58_extra_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,37}</string>
    <key>spriteSourceSize</key>
    <string>{47,44}</string>
    <key>textureRect</key>
    <string>{{45,46},{39,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dart_58_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{47,44}</string>
    <key>spriteSourceSize</key>
    <string>{47,44}</string>
    <key>textureRect</key>
    <string>{{0,0},{47,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{86,88}</string>
   <key>textureFileName</key>
   <string>icons/dart_58-hd.png</string>
  </dict>
 </dict>
</plist>
