<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>robot_07_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,7}</string>
    <key>spriteSize</key>
    <string>{104,96}</string>
    <key>spriteSourceSize</key>
    <string>{138,126}</string>
    <key>textureRect</key>
    <string>{{0,106},{104,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_07_01_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{33,11}</string>
    <key>spriteSize</key>
    <string>{20,14}</string>
    <key>spriteSourceSize</key>
    <string>{118,122}</string>
    <key>textureRect</key>
    <string>{{106,159},{20,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_07_01_extra_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-30,19}</string>
    <key>spriteSize</key>
    <string>{30,45}</string>
    <key>spriteSourceSize</key>
    <string>{110,110}</string>
    <key>textureRect</key>
    <string>{{164,45},{30,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_07_01_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,7}</string>
    <key>spriteSize</key>
    <string>{114,104}</string>
    <key>spriteSourceSize</key>
    <string>{146,134}</string>
    <key>textureRect</key>
    <string>{{0,0},{114,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_07_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,0}</string>
    <key>spriteSize</key>
    <string>{40,51}</string>
    <key>spriteSourceSize</key>
    <string>{58,54}</string>
    <key>textureRect</key>
    <string>{{106,106},{40,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_07_02_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,0}</string>
    <key>spriteSize</key>
    <string>{29,18}</string>
    <key>spriteSourceSize</key>
    <string>{47,51}</string>
    <key>textureRect</key>
    <string>{{184,0},{29,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_07_02_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,0}</string>
    <key>spriteSize</key>
    <string>{46,56}</string>
    <key>spriteSourceSize</key>
    <string>{66,62}</string>
    <key>textureRect</key>
    <string>{{116,45},{46,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_07_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{18,52}</string>
    <key>spriteSourceSize</key>
    <string>{18,52}</string>
    <key>textureRect</key>
    <string>{{172,143},{18,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_07_03_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,46}</string>
    <key>spriteSourceSize</key>
    <string>{14,46}</string>
    <key>textureRect</key>
    <string>{{196,45},{14,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_07_03_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{22,52}</string>
    <key>spriteSourceSize</key>
    <string>{26,58}</string>
    <key>textureRect</key>
    <string>{{148,143},{22,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_07_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{57,35}</string>
    <key>spriteSourceSize</key>
    <string>{63,35}</string>
    <key>textureRect</key>
    <string>{{148,106},{57,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_07_04_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,0}</string>
    <key>spriteSize</key>
    <string>{19,21}</string>
    <key>spriteSourceSize</key>
    <string>{63,35}</string>
    <key>textureRect</key>
    <string>{{184,20},{19,21}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>robot_07_04_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{66,43}</string>
    <key>spriteSourceSize</key>
    <string>{72,43}</string>
    <key>textureRect</key>
    <string>{{116,0},{66,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{215,204}</string>
   <key>textureFileName</key>
   <string>icons/robot_07-uhd.png</string>
  </dict>
 </dict>
</plist>
